<!DOCTYPE html>
<html>
<head>
<body>

<table id="tableLesson"></table>
<head>

    <meta charset="UTF-8">
    <title>ApplicationForStudentAssessment</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }
        td, th {
            border: 1px solid #25199a;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #7070cc;
        }

    </style>
</head>



<script>
    function loadLessons() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var lessons = JSON.parse(this.responseText);
            var html = '<tr>\n' +
                '    <th>Id</th>\n' +
                '    <th>Date Lesson</th>\n' +
                '    </tr>';

            for (var i = 0; i < lessons.length; i++) {
                var lesson = lessons[i];
                console.log(lesson);
                html = html + '<tr>' +
                    '           <td>' + lesson.id + '</td>\n' +
                    '           <td>' + lesson.dateLessons + '</td>\n' +
                    '           <button onclick="deleteLesson('+ student.id +')">Delete lesson</button></td>';
            }
            document.getElementById("tableLesson").innerHTML = html;
        }
        xhttp.open("GET", "http://localhost:8080/lessons/seeLesson", false);
        xhttp.send();
    }

    loadLessons();

    function deleteLesson() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/teams/delete/" + teamId, true);
        xhttp.send();
    }
</script>

<a href="http://localhost:8080/lessons/manage-students"> Click</a>
</body>
</html>