<!DOCTYPE html>
<html lang="en">

<table id="table"></table>
<head>

    <meta charset="UTF-8">
    <title>ApplicationForStudentAssessment</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }
        td, th {
            border: 1px solid #25199a;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #7070cc;
        }
    </style>
</head>
<body>


<form action="#">
    <input id="student_name" placeholder="Your name!">
    <button onclick="createStudent()"> Add Student!</button>
</form>

<script>
    function createStudent() {
        var studentName = document.getElementById("student_name").value;
        var studentLastName = document.getElementById("student_lastName").value;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "http://localhost:8080/students/save");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({name: studentName, lastName: studentLastName}));

        loadStudents();
    }

    function loadStudents() {
        var xhttp = new XMLHttpRequest();
        var yhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var teams = JSON.parse(xhttp.responseText);
            var html = " ";
            var students = JSON.parse(yhttp.responseText);
            for (var i = 0; i < teams.length; i++) {
                var team = teams[i];
                console.log(team);
                html = html + '<tr>' +
                    '           <td>' + team.id + '</td>\n' +
                    '           <td>' + team.nameTeam + '</td>\n';
                for (var k = 0; k < students.length; k++) {
                    var student = students[k];
                    console.log(student);
                    if (team.id == student.idTeam) {
                        html = html + '<tr>' +
                            '           <td>' + student.id + '</td>\n' +
                            '           <td>' + student.name + '</td>\n' +
                            '           <td>' + student.lastName + '</td>\n';
                        createTable(html, student.id, student.name);
                    }
                }
            }
        }
        xhttp.open("GET", "http://localhost:8080/teams/findAll", true);
        xhttp.send();
        yhttp.open("GET", "http://localhost:8080/students/findAll", true);
        yhttp.send();
    }


    function deleteStudent(studentId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/students/delete/" + studentId, true);
        xhttp.send();
    }

    function plusBall(studentId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:8080/students/upperBall/" + studentId, true);
        xhttp.send();
    }

    function createTable(html, idTea, idStud) {
        document.getElementById("table").innerHTML = html;
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = idTea;
        cell2.innerHTML = idStud;
    }

    loadStudents();
</script>
</body>
</html>